.card__person {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
}
.card__image-box {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
}
.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.card__name {
  font-weight: 300;
  font-size: 1.8rem;
  text-transform: capitalize;
  color: #272738;
  margin-left: 1.6rem;
}
