*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  line-height: 1.7;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
