.card__footer {
  background: #59c3e1;
  box-shadow: -0.4rem -0.4rem 1.4rem rgba(207, 218, 255, 0.25),
    0.4rem 0.4rem 1.4rem -2px rgba(207, 218, 255, 0.495981);
  border-radius: 0.6rem;
  padding: 1rem;
  position: absolute;
  width: 100%;
  left: 1.5rem;
  bottom: 1.5rem;
  transition: left 0.2s, bottom 0.2s;
}

@media (max-width: 600px) {
  .card__footer {
    border-radius: 0 0 0.6rem 0.6rem;
    box-shadow: none;
    left: 0;
    bottom: 0;
  }
}
